# Archivos compilados
*.class

# Archivos de log
*.log

# Archivos temporales de BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Archivos empaquetados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs de fallos de la JVM
hs_err_pid*
replay_pid*

# Datos internos del plugin Kotlin en Gradle
.kotlin/

# Carpetas generadas por Gradle
.gradle/
build/

# Archivos de configuración del IDE
.idea/
*.iml
.vscode/

# Variables de entorno sensibles
.env

# Tests si no quieres subirlos
src/test/

# Archivos del sistema
.DS_Store
Thumbs.db

**/package-lock.json